.SimSong9 {
	FONT-SIZE: 10pt; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; FONT-STYLE: normal
}
.SimSong12 {
	FONT-SIZE: 12pt; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; FONT-STYLE: normal
}
.llinks9 {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.llinks9:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.llinks9:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #8000cc; FONT-STYLE: normal
}
.llinks9:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: underline; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #ff0000; FONT-STYLE: normal
}
.llinks12 {
	FONT-SIZE: 12pt; TEXT-DECORATION: none; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.llinks12:link {
	FONT-SIZE: 12pt; TEXT-DECORATION: none; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.llinks12:visited {
	FONT-SIZE: 12pt; TEXT-DECORATION: none; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #8000cc; FONT-STYLE: normal
}
.llinks12:hover {
	FONT-SIZE: 12pt; TEXT-DECORATION: underline; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #ff0000; FONT-STYLE: normal
}
.FmInpUser {
	FONT-SIZE: 10pt; BORDER-TOP: #0066cc 1px solid; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; BORDER-RIGHT: #0066cc 1px solid; BORDER-BOTTOM: #0066cc 1px solid; FONT-STYLE: normal; BORDER-LEFT: #0066cc 1px solid; BACKGROUND-COLOR: #f0f5fa
}
.FmInpText {
	FONT-SIZE: 10pt; SCROLLBAR-HIGHLIGHT-COLOR: #0066cc; BORDER-TOP: #0066cc 1px solid; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; BORDER-RIGHT: #0066cc 1px solid; SCROLLBAR-TRACK-COLOR: #f0f0ff; SCROLLBAR-FACE-COLOR: #f0f0ff; BORDER-BOTTOM: #0066cc 1px solid; SCROLLBAR-3DLIGHT-COLOR: #f0f0ff; FONT-STYLE: normal; SCROLLBAR-ARROW-COLOR: #0066cc; BORDER-LEFT: #0066cc 1px solid; SCROLLBAR-SHADOW-COLOR: #0066cc; BACKGROUND-COLOR: #f0f5fa; SCROLLBAR-DARKSHADOW-COLOR: #f0f0ff
}
.HandCurSS9 {
	FONT-SIZE: 10pt; CURSOR: hand; FONT-FAMILY: "Segoe UI", "Microsoft YaHei", "Tahoma"; FONT-STYLE: normal
}
.CodeFont {
	FONT-SIZE: 10pt; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; FONT-STYLE: normal
}
.CodeFnt12 {
	FONT-SIZE: 12pt; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; FONT-STYLE: normal
}
.CodeLink {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.CodeLink:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.CodeLink:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #8000cc; FONT-STYLE: normal
}
.CodeLink:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: underline; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #ff0000; FONT-STYLE: normal
}
.CodeLnk12 {
	FONT-SIZE: 12pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.CodeLnk12:link {
	FONT-SIZE: 12pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #0000ff; FONT-STYLE: normal
}
.CodeLnk12:visited {
	FONT-SIZE: 12pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #8000cc; FONT-STYLE: normal
}
.CodeLnk12:hover {
	FONT-SIZE: 12pt; TEXT-DECORATION: underline; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #ff0000; FONT-STYLE: normal
}
.CodeLnkT {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #ffffff; FONT-STYLE: normal
}
.CodeLnkT:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #ffffff; FONT-STYLE: normal
}
.CodeLnkT:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #eeddff; FONT-STYLE: normal
}
.CodeLnkT:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: underline; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; COLOR: #80ffff; FONT-STYLE: normal
}
.FmInpCode {
	FONT-SIZE: 10pt; SCROLLBAR-HIGHLIGHT-COLOR: #0066cc; BORDER-TOP: #0066cc 1px solid; FONT-FAMILY: "Consolas", "Courier New", "Segoe UI", "Microsoft YaHei", "Tahoma"; BORDER-RIGHT: #0066cc 1px solid; SCROLLBAR-TRACK-COLOR: #f0f0ff; SCROLLBAR-FACE-COLOR: #f0f0ff; BORDER-BOTTOM: #0066cc 1px solid; SCROLLBAR-3DLIGHT-COLOR: #f0f0ff; FONT-STYLE: normal; SCROLLBAR-ARROW-COLOR: #0066cc; BORDER-LEFT: #0066cc 1px solid; SCROLLBAR-SHADOW-COLOR: #0066cc; BACKGROUND-COLOR: #f0f5fa; SCROLLBAR-DARKSHADOW-COLOR: #f0f0ff
}
