.dp-highlighter {
	position: relative; -ms-overflow-x: auto; -ms-overflow-y: hidden;
}
.prettyprint {
	position: relative; -ms-overflow-x: auto; -ms-overflow-y: hidden;
}
.pad_bot {
	padding-bottom: 45px !important;
}
.save_code {
	top: 5px; height: 60px; right: 30px; color: rgb(255, 255, 255); font-size: 14px; display: none; position: absolute; z-index: 2; cursor: pointer;
}
#mask_code {
	background: rgba(0, 0, 0, 0.3); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 990;
}
.gist_edit {
	margin: -165px 0px 0px -252px; left: 50%; top: 50%; width: 505px; height: 330px; display: none; position: absolute; z-index: 9999;
}
.save_snippets {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 220, 221); border-image: none; overflow: hidden; clear: both; font-family: "Microsoft YaHei"; font-size: 14px; box-sizing: border-box;
}
.save_snippets .tit {
	padding: 0px 20px; height: 45px; line-height: 45px; overflow: hidden; clear: both; border-bottom-color: rgb(221, 220, 221); border-bottom-width: 1px; border-bottom-style: solid; box-sizing: border-box;
}
.save_snippets .tit h3 {
	margin: 0px; padding: 0px; height: 45px; line-height: 45px; font-size: 16px; font-weight: normal; float: left; box-sizing: border-box;
}
.gist_edit_list {
	padding: 0px; width: 100%; box-sizing: border-box;
}
.save_snippets .tit span {
	height: 45px; color: rgb(153, 153, 153); line-height: 45px; float: right; display: block; box-sizing: border-box;
}
.save_snippets .tit span a {
	color: rgb(0, 0, 255); text-decoration: underline;
}
.save_snippets .tit span a:link {
	color: rgb(0, 0, 255); text-decoration: underline;
}
.save_snippets .tit span a:visited {
	color: rgb(0, 0, 255); text-decoration: underline;
}
.save_snippets .tit span a:hover {
	color: rgb(0, 0, 255); text-decoration: underline;
}
.save_snippets .tit span a:active {
	color: rgb(0, 0, 255); text-decoration: underline;
}
.save_snippets .con_form {
	overflow: hidden; padding-top: 20px; clear: both; box-sizing: border-box;
}
.save_snippets .con_form .gist_edit_list li {
	list-style: none; overflow: hidden; clear: both; margin-bottom: 20px; min-height: 32px; box-sizing: border-box;
}
.save_snippets .con_form .gist_edit_list li span.red {
	height: 32px; color: rgb(255, 0, 0); line-height: 36px; padding-right: 10px; margin-left: 20px; float: left; display: block; box-sizing: border-box;
}
.save_snippets .con_form .gist_edit_list li span.txt {
	height: 32px; line-height: 32px; padding-right: 20px; float: left; display: block;
}
.save_snippets .con_form .gist_edit_list li .form-input {
	background: rgb(250, 250, 250); padding: 0px 10px; border: 1px solid rgb(221, 220, 221); border-image: none; width: 398px; height: 30px; color: rgb(102, 102, 102); font-family: "Microsoft YaHei"; float: left; box-sizing: border-box;
}
#divSearchTags {
	background: rgb(250, 250, 250); padding: 0px 10px; border: 1px solid rgb(221, 220, 221); border-image: none; width: 398px; text-align: left; color: rgb(102, 102, 102); font-family: "Microsoft YaHei"; margin-left: 2px; float: left; box-sizing: border-box;
}
#divSearchTags .label span {
	color: rgb(102, 102, 102);
}
.insertTag {
	background: none; border: currentColor; border-image: none; width: 208px; height: 30px; color: rgb(102, 102, 102); box-sizing: border-box;
}
#divSearchTags .blog_tag {
	background: rgb(243, 243, 243); margin: 7px 10px 7px 0px; padding: 0px 5px; border-radius: 10px; color: rgb(102, 102, 102); float: left; display: block; box-sizing: border-box;
}
#divSearchTags .blog_tag span {
	float: left; display: block;
}
#divSearchTags .label a {
	color: rgb(102, 102, 102); margin-left: 8px; box-sizing: border-box;
}
.save_snippets .con_form .gist_edit_list li .form-textarea {
	background: rgb(250, 250, 250); padding: 3px 10px; border: 1px solid rgb(221, 220, 221); border-image: none; width: 398px; height: 60px; color: rgb(102, 102, 102); font-family: "Microsoft YaHei"; font-size: 12px; float: left; box-sizing: border-box;
}
.save_snippets .bottom-bar {
	padding: 17px 20px; overflow: hidden; clear: both; border-top-color: rgb(221, 220, 221); border-top-width: 1px; border-top-style: solid;
}
.save_snippets .bottom-bar .btn-submit {
	background: rgb(240, 240, 240); border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: currentColor rgb(136, 136, 136) rgb(136, 136, 136) currentColor; border-radius: 2px; border-image: none; width: 45px; height: 20px; text-align: center; color: rgb(51, 51, 51); line-height: 20px; font-family: "Microsoft YaHei"; font-size: 12px; margin-left: 7px; float: right;
}
.file_holder .file_content.code table.lines pre.line_numbers {
	width: 40px !important;
}
